<ul>
  <% tasks.each(function (task) { %>
    <li class="task" data-id="<%= task.escape("id") %>">
      <a href="#/tasks/<%= task.escape("id") %>">
        <%= task.escape("title") %>
      </a>
    </li>
  <% }); %>
</ul>